# M001: MongoDB Basics

In [2]:
# insert data
# lets insert a new document in a new collection.
# so, we don't have to write a new query to create a new collection.

db = client.sample_training

new= db.collect.insert_many([{"name": "Ashwin"}, {"name": "Raju"}, {"name": "yashik"}])

In [3]:
view= db.colect.find_one({})

In [6]:
from pprint import pprint

In [7]:
zp= db.collect.find({})

for i in zp:
    pprint(i)

{'_id': ObjectId('5f8284a151abc98ca8aadf15'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284a151abc98ca8aadf16'), 'name': 'Raju'}
{'_id': ObjectId('5f8284a151abc98ca8aadf17'), 'name': 'yashik'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf18'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf19'), 'name': 'Raju'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf1a'), 'name': 'yashik'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1b'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1c'), 'name': 'Raju'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1d'), 'name': 'yashik'}
{'_id': 1, 'name': 'Martin'}
{'_id': 2, 'name': 'Akesh'}
{'_id': 3, 'name': 'Duke'}
{'_id': ObjectId('5f82c5117bf129481827ea6b'), 'name': 'Ashwin'}
{'_id': ObjectId('5f82c5117bf129481827ea6c'), 'name': 'Raju'}
{'_id': ObjectId('5f82c5117bf129481827ea6d'), 'name': 'yashik'}

In [34]:
# from the above data we could see the same names repeated two times and we could not see any error regarding duplicate.

dup= db.collect.insert_many([{"_id": 1, "name": "Martin"}, {"_id":2, "name": "Akesh"}, {"_id":3, "name": "Duke"}])

In [35]:
zp_dup= db.collect.find()

for i in zp_dup:
    pprint(i)

{'_id': ObjectId('5f8284a151abc98ca8aadf15'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284a151abc98ca8aadf16'), 'name': 'Raju'}
{'_id': ObjectId('5f8284a151abc98ca8aadf17'), 'name': 'yashik'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf18'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf19'), 'name': 'Raju'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf1a'), 'name': 'yashik'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1b'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1c'), 'name': 'Raju'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1d'), 'name': 'yashik'}
{'_id': 1, 'name': 'Martin'}
{'_id': 2, 'name': 'Akesh'}
{'_id': 3, 'name': 'Duke'}

In [36]:
# here we have created new objectID with names. ObjectID's unique

#lets see what would happen if we insert new data with existing objectID

dup_1= db.collect.insert_many([{"_id": 1, "name": "Mar"}, {"_id":2, "name": "Ak"}, {"_id":3, "name": "Du"}])

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 1}, 'errmsg': 'E11000 duplicate key error collection: sample_training.collect index: _id_ dup key: { _id: 1 }', 'op': {'_id': 1, 'name': 'Mar'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [41]:
# we have received an error msg stating that "E11000 duplicate key error collection: sample_training.collect index: _id_ dup key: { _id: 1 }"

zp_dup= db.collect.find()

for i in zp_dup:
    pprint(i)

{'_id': ObjectId('5f8284a151abc98ca8aadf15'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284a151abc98ca8aadf16'), 'name': 'Raju'}
{'_id': ObjectId('5f8284a151abc98ca8aadf17'), 'name': 'yashik'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf18'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf19'), 'name': 'Raju'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf1a'), 'name': 'yashik'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1b'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1c'), 'name': 'Raju'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1d'), 'name': 'yashik'}
{'_id': 1, 'name': 'Martin'}
{'_id': 2, 'name': 'Akesh'}
{'_id': 3, 'name': 'Duke'}

In [8]:
zp_find= db.collect.find({"name": "Ashwin"})

from pprint import pprint

for j in zp_find:
    pprint(j)

{'_id': ObjectId('5f8284a151abc98ca8aadf15'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284cb51abc98ca8aadf18'), 'name': 'Ashwin'}
{'_id': ObjectId('5f8284eb51abc98ca8aadf1b'), 'name': 'Ashwin'}
{'_id': ObjectId('5f82c5117bf129481827ea6b'), 'name': 'Ashwin'}

# Comparison Operator

## "$gt" = greater than , "$lt" = lesser than, "$gte"= greater than equal to, "$lte"= lesser than equal to, "$eq"= equal to, "$ne"= not equal to

# syntax: {<field>: {<operator>: <value>}}

In [10]:
# Find all documents where the tripduration was less than or equal to 70 seconds and the usertype was not Subscriber:

trip= db.trips.find({"tripduration": {"$lte": 70}, "usertype": {"$ne": "Subscriber"}})

for i in trip:
    pprint(i)
    
# we got single document for the above query here trip duration is 66 and customer

{'_id': ObjectId('572bb8232b288919b68af7cd'),
 'bikeid': 23779,
 'birth year': '',
 'end station id': 460,
 'end station location': {'coordinates': [-73.96590294, 40.71285887],
                          'type': 'Point'},
 'end station name': 'S 4 St & Wythe Ave',
 'gender': 0,
 'start station id': 460,
 'start station location': {'coordinates': [-73.96590294, 40.71285887],
                            'type': 'Point'},
 'start station name': 'S 4 St & Wythe Ave',
 'start time': datetime.datetime(2016, 1, 2, 11, 49, 11),
 'stop time': datetime.datetime(2016, 1, 2, 11, 50, 18),
 'tripduration': 66,
 'usertype': 'Customer'}

In [12]:
# lets use equal operator and implicit equal operator.

eq= db.trips.find({'tripduration': {"$lte": 70}, "usertype": {"$eq": "Customer"}})

for i in eq:
    pprint(i)

{'_id': ObjectId('572bb8232b288919b68af7cd'),
 'bikeid': 23779,
 'birth year': '',
 'end station id': 460,
 'end station location': {'coordinates': [-73.96590294, 40.71285887],
                          'type': 'Point'},
 'end station name': 'S 4 St & Wythe Ave',
 'gender': 0,
 'start station id': 460,
 'start station location': {'coordinates': [-73.96590294, 40.71285887],
                            'type': 'Point'},
 'start station name': 'S 4 St & Wythe Ave',
 'start time': datetime.datetime(2016, 1, 2, 11, 49, 11),
 'stop time': datetime.datetime(2016, 1, 2, 11, 50, 18),
 'tripduration': 66,
 'usertype': 'Customer'}

In [14]:
# implicit equal operator

ieq= db.trips.find({"tripduration": {"$lte": 70}, "usertype": "Customer"})

for i in ieq:
    pprint(i)

{'_id': ObjectId('572bb8232b288919b68af7cd'),
 'bikeid': 23779,
 'birth year': '',
 'end station id': 460,
 'end station location': {'coordinates': [-73.96590294, 40.71285887],
                          'type': 'Point'},
 'end station name': 'S 4 St & Wythe Ave',
 'gender': 0,
 'start station id': 460,
 'start station location': {'coordinates': [-73.96590294, 40.71285887],
                            'type': 'Point'},
 'start station name': 'S 4 St & Wythe Ave',
 'start time': datetime.datetime(2016, 1, 2, 11, 49, 11),
 'stop time': datetime.datetime(2016, 1, 2, 11, 50, 18),
 'tripduration': 66,
 'usertype': 'Customer'}

In [15]:
# How many documents in the sample_training.zips collection have fewer than 1000 people listed in the pop field?

zip= db.zips.find({"pop":{"$lt": 1000}}).count()

print(zip)

8065

C:\Users\PC\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
# What is the difference between the number of people born in 1998 and the number of people born after 1998 in the sample_training.trips collection?

born = db.trips.find({"birth year": {"$gt": 1998}}).count() - db.trips.find({"birth year": 1998}).count()

print(born)

C:\Users\PC\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

6

# Logic Operator

"$and" = matched all of the specified Query Clauses
"$or" = At least one of the Query Clause is matched
"$nor" = Failed to match both given Clauses
"$not" = Negate the Query requirement

Syntex : {<operator>: [{statment 1}, {statement 2}, ...]}

In [18]:
# Find all documents where airplanes CR2 or A81 left or landed in the KZN airport:

route= db.routes.find({"$and": [{"$or": [{"dst_airport": "KZN"}, {"src_airport": "KZN"}]}, {"$or": [{"airplane": "CR2"}, {"airplane": "A81"}]}]})

for r in route:
    pprint(r)

{'_id': ObjectId('56e9b39b732b6122f877fa31'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'CEK',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa32'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'ASF',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa34'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'DME',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa38'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'AER',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa3b'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'EGO',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa3e'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'AER',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa3f'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'ASF',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa40'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'CEK',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa41'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'DME',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa42'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'EGO',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa43'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'LED',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa44'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'SVX',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa45'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'LED',
 'stops': 0}
{'_id': ObjectId('56e9b39b732b6122f877fa52'),
 'airline': {'alias': '2B', 'iata': 'ARD', 'id': 410, 'name': 'Aerocondor'},
 'airplane': 'CR2',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'SVX',
 'stops': 0}
{'_id': ObjectId('56e9b39c732b6122f87868bc'),
 'airline': {'alias': 'FV',
             'iata': 'SDM',
             'id': 641,
             'name': 'Rossiya-Russian Airlines'},
 'airplane': 'A81',
 'codeshare': '',
 'dst_airport': 'LED',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39c732b6122f87868be'),
 'airline': {'alias': 'FV',
             'iata': 'SDM',
             'id': 641,
             'name': 'Rossiya-Russian Airlines'},
 'airplane': 'A81',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'LED',
 'stops': 0}
{'_id': ObjectId('56e9b39c732b6122f878c0f9'),
 'airline': {'alias': 'SU',
             'iata': 'AFL',
             'id': 130,
             'name': 'Aeroflot Russian Airlines'},
 'airplane': 'A81',
 'codeshare': '',
 'dst_airport': 'LED',
 'src_airport': 'KZN',
 'stops': 0}
{'_id': ObjectId('56e9b39c732b6122f878c120'),
 'airline': {'alias': 'SU',
             'iata': 'AFL',
             'id': 130,
             'name': 'Aeroflot Russian Airlines'},
 'airplane': 'A81',
 'codeshare': '',
 'dst_airport': 'KZN',
 'src_airport': 'LED',
 'stops': 0}

In [22]:
# How many businesses in the sample_training.inspections dataset have the inspection result "Out of Business" and belong to the "Home Improvement Contractor - 100" sector?

inspect= db.inspections.find({"result": "Out of Business", "sector": "Home Improvement Contractor - 100"})

for i in inspect:
    pprint(i)

{'_id': ObjectId('56d61033a378eccde8a8366f'),
 'address': {'city': 'BROOKLYN',
             'number': 4702,
             'street': 'AVENUE N',
             'zip': 11234},
 'business_name': 'CHAMPION CONTRACTING NY CORP.',
 'certificate_number': 9259947,
 'date': 'May 15 2015',
 'id': '19806-2015-ENFO',
 'result': 'Out of Business',
 'sector': 'Home Improvement Contractor - 100'}
{'_id': ObjectId('56d61033a378eccde8a836c1'),
 'address': {'city': 'BAYSIDE',
             'number': 20003,
             'street': '32ND AVE',
             'zip': 11361},
 'business_name': 'B & D HOLDING GROUP INC.  BULLFROG REMODELING',
 'certificate_number': 9295108,
 'date': 'Jun 17 2015',
 'id': '22858-2015-ENFO',
 'result': 'Out of Business',
 'sector': 'Home Improvement Contractor - 100'}
{'_id': ObjectId('56d61033a378eccde8a83da0'),
 'address': {'city': 'NEW YORK',
             'number': 425,
             'street': 'E 72ND ST',
             'zip': 10021},
 'business_name': 'MECTEC NYC INC.',
 'certificate_number': 9318161,
 'date': 'Nov 18 2015',
 'id': '63875-2015-ENFO',
 'result': 'Out of Business',
 'sector': 'Home Improvement Contractor - 100'}
{'_id': ObjectId('56d61033a378eccde8a83ebe'),
 'address': {'city': 'NEW YORK',
             'number': 87,
             'street': 'CLINTON ST',
             'zip': 10002},
 'business_name': "BIG JOE'S GENERAL RENOVATION & REMODELING CORP.",
 'certificate_number': 9301844,
 'date': 'Mar  4 2015',
 'id': '7654-2015-ENFO',
 'result': 'Out of Business',
 'sector': 'Home Improvement Contractor - 100'}

In [25]:
inspect_count= db.inspections.find({"result": "Out of Business", "sector": "Home Improvement Contractor - 100"}).count()

print(inspect_count)

4

C:\Users\PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

In [26]:
# How many zips in the sample_training.zips dataset are neither over-populated nor under-populated?

#In this case, we consider population of more than 1,000,000 to be over- populated and less than 5,000 to be under-populated.

popu= db.zips.find({"$nor": [{"pop": {"$gt": 1000000}}, {"pop":{"$lt": 5000}}]}).count()

print(popu)

11193

C:\Users\PC\anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """

In [31]:
# How many companies in the sample_training.companies dataset were either founded in 2004, or in the month of October and 
# either have the social category_code or web category_code?

company= db.companies.find({"$and": [{"$or": [{"founded_year": 2004}, {"founded_month": 10}]}, {"$or": [{"category_code": "social"}, {"category_code": "web"}]}]}).count()

#route= db.routes.find({"$and": [{"$or": [{"dst_airport": "KZN"}, {"src_airport": "KZN"}]}, {"$or": [{"airplane": "CR2"}, {"airplane": "A81"}]}]})

print(company)

149

C:\Users\PC\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  after removing the cwd from sys.path.